*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.dash-board-main{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 84vw;
    height: 95vh;
    padding: 20px;
}
.dash-board-heading{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.dash-board-heading h2{
    font-size: 27px;
    color: #1E293B;
}
.dash-board-heading p{
    color: #A8B1BF;
}
.dash-board-container{
    width: 100%;
    height: 26%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-board-storage{
    width: 19%;
    height: 61%;
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid rgb(232, 237, 239);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.storage-icon-view{
    display: flex;
    align-items: center;
    gap: 10px;
}
.storage-icon,.compress-icon,.files-icon,.d-files-icon{
    border-radius: 8px;
    padding: 10px;
}
.dash-board-container h2{
    font-size: 27px;
}
.dash-files{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dash-board-percentage-chart-view{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.percentage-heading,.dash-board-chart-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.percentage-heading h2 , .dash-board-chart-heading h2{
    font-size: 27px;
    color: #1E293B;
}
.percentage-heading p{
    color: #A8B1BF;
}
.dash-board-percentage-chart{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-board-percentage-view{
    width: 49%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(232, 237, 239);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.compress-percentage{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.show-compress-percentage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-percentage-show-container{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.dash-board-chart-view{
    width: 49%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(232, 237, 239);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 20px;
}