

.side-container{
    position: absolute;
    bottom: 1px;
    right: 1px;
    height: 88.96vh;
    background-color: white;
    width: 17.5vw;
    padding: 20px;
    text-align: le;
    color: black;
    box-shadow: 0 0 1px 0 black;
}

#folder-name{
    margin-bottom: 30px;
    gap: 5px;
    display: flex;
    justify-content: start;
    text-align: center;
}

#folder-name p {
    margin-top: 4px;
}


#details-title{
    font-size: 1.25rem;
    font-weight:600;
    color: rgb(30, 30, 30);
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#details-title button{
    background-color: white;
    border: none;
    font-size: 1.1rem;
    padding: 4px 7px;cursor: pointer;
    border-radius: 2px;
    font-weight:300;
}

#details-title button:hover{
    background-color: #E7E7E7;
}

.details-row{
  margin: 30px 0px;
  gap: 7.5px;
    display: flex;
    flex-direction: column;
    color: rgb(42, 42, 42);
}