#fileHeader{
    /* width: 84%; */
    height: 5vh;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgb(216, 216, 216);
}
#tree-structure-view{
    width: 70%;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
#add-resource-new{
    width: 30%;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
