#outerContainer{
    width: 100vw;
    height: 100vh;
    bottom: 1px;
    right: 1px;
    position:absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(11, 11, 11, 0.5);
}

.innerContainer{
    background-color: white;
    width: 800px;
    height: 250px;
    border-radius: 5px;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.innerContainer div{
    margin-top: 4%;
}

.head-title{
    font-size: 1.75rem;
}

.label{
    font-size: 1rem;
    font-weight: 500;
    color: #727272;
}

#input-field{
    width: 100%;
    height:40px;
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 100;
    padding: 1%;
    margin: 1% 0%;
}

#input-field:focus{
    outline:none;
    border:1px solid #2C66DD;
    box-shadow:0 0 0 2px rgba(44, 102, 221,.15);
}


.buttons{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.inputButton{
    border-radius: 2px;
    border: 1px solid grey;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
}

.inputButton:hover{
    background-color: #f3f4f6;
}

#createButton{
    background-color: #2C66DD;
    border: none;
    color: white;
}

#createButton:hover{
    filter: brightness(110%);
}
