* {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-height: 70px;
    padding: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 20%;
}

.logo h1 {
    margin: 5px;
    width: 200px;
    font-size: 34px;
    color: #1E52BB;
}

.buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons button {
    height: 50px;
    width: 120px;
    background-color: #1E52BB;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 16px;
}

.buttons a {
    font-size: 16px;
}