.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 12.5px 130px;
    background-color: white;
    box-shadow: 0 0 1px black;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5px;
}

.logo h1 {
    margin: 5px;
    width: 200px;
    font-size: 34px;
    color: #1E52BB;
}

.buttons {
    width: 20%;
    gap: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: flex-end;
}

.buttons button {
    font-size: 16px;
    font-weight: bolder;
}

.simple-button {
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
}

.simple-button:hover {
    background-color: rgb(237, 236, 236);
}

.focus-button {
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #1E52BB;
    color: white;
}

.focus-button:hover {
    filter: brightness(110%);
}