button{
    cursor: pointer;
}
.dropdown {
    width: 200px;
    height: 40px;
    background-color: white;
    transition: .2s;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(58, 58, 58);
}
.dropdown:hover{
    background-color: rgb(215, 215, 215);
}

.dropdownMenu {
    display: none;
    box-shadow: 0 0 2px black;
    background-color: white;
    gap: 10px;
    padding: 5px;
    flex-direction: column;
}

.newButtonBox:hover .dropdownMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newButtonBox{
    position: absolute;
    width: 200px;
    top: 5.6vh;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#newButton{
    font-weight: 900;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #2C66DD;
    width: 100px;
    padding: .7rem 1.5rem;
    margin-bottom: 1rem;
}