.success-msg{
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10rem;
    right: 40rem;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    border-top: 3px solid green;
    background-color: white;
    z-index: 15;
    gap: 10px;
}

.msg{
    font-weight: bolder;
    font-size: 17px;
    color: gray;
}

.response-message p{
    font-size: 19px;
    font-weight: 300;
}

#show{
    top: -2rem;
}

img{
    width: 30px;
}
.failed-msg{
    width: 360px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10rem;
    right: 40rem;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    border-top: 3px solid red;
    background-color: white;
    z-index: 6;
    gap: 10px;
}