.card{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: -380px;
    background-color: white;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    border-bottom: 3px solid #2C66DD;
    z-index: 6;
    gap: 10px;
    flex-direction: column;
    min-width: 350px;
    padding: 0 20px;
}

.progress-bar{
    width: 90%;
    height: 15px;
}

.progress-label{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    color: rgb(73, 71, 71);
}

#progress-show{
    right: 20px;
}