
.replaceContainer{
    background-color: white;
    width: 800px;
    height: 200px;
    border-radius: 5px;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.innerContainer div{
    margin-top: 4%;
}

.error-info{
    font-size: 1.75rem;
}

.question{
    font-size: 1.5rem;
    font-weight: 500;
    color: #727272;
}

.buttons{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.inputButton{
    border-radius: 2px;
    border: 1px solid grey;
    width: 130px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}

.inputButton:hover{
    background-color: #E7E7E7;
}

#replaceButton{
    background-color: #2C66DD;
    border: none;
    color: white;
}

#replaceButton:hover{
    filter: brightness(110%);
}
