*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.restorePopup-main{
    width: 100vw;
    height: 100vh;
    bottom: 1px;
    position: absolute;
    background-color: #59585899;
    display: flex;
    align-items: center;
    justify-content: center;
}
.restore-container{
    width: 35%;
    height: 20%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.restore-heading{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.exclamation{
    color: dodgerblue;
}
.restore-description{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    line-height: 1.6;
}
.restore-btn{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
}
.restore-skip , .restore-replace{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    transition: .3s;
}
.restore-skip:hover , .restore-replace:hover{
    transform: scale(1.1);
}
.restore-replace{
    background-color: #2C66DD;
    color: white;
}
