.search-bar-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(11, 11, 11, 0.75);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 5;
    top: 0px;
    left: 0px;
}

.searching-space {
    width: 65vw;
    right: 0px;
    margin: 7.5px 1vw;
}

.searching-container {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.search-icon {
    position: relative;
    left: 27px;

}

.search-input {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 20px 0 35px;
}

.search-cancel {
    position: relative;
    right: 32px;
    height: 30px;
    width: 30px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(225, 223, 223);
}

.search-result-container {
    border-radius: 5px;
    background-color: white;
    padding: 5px 0;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.search-section {
    font-size: .9rem;
    color: rgb(75, 72, 72);
    padding: 10px 30px;
    background-color: rgb(245, 244, 244);
}

.search-result-components {
    display: flex;
    padding: 10px 35px;
    align-items: center;
    justify-content: start;
    box-shadow: 0 0 .6px rgb(98, 96, 96);
    gap: 20px;
    cursor: pointer;
}

.search-result-components:hover{
    box-shadow: none;
    background-color: rgb(245, 244, 244);
}

.search-content-title {
    font-size: 1rem;
    margin: 5px 0;
}

.search-content-detail {
    font-size: 0.8rem;
    color: #555;
}