*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.side-nav-parent{
    width: 16%;
    height: 95vh;
    background-color: rgb(46, 46, 46);
    color: rgb(221, 221, 221);
    padding: 20px 5px;
}
.my-folder{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
    border-radius: 3px;
    transition: .2s;
    gap: 5px;
    cursor: pointer;
    font-size: 15px;
}
.my-folder p{
    font-weight: bolder;
}
.my-folder:hover{
    background-color: rgb(78, 78, 78);
}