.side-nav-parent{
    width: 16%;
    height: 95vh;
    background-color: rgb(46, 46, 46);
    color: rgb(221, 221, 221);
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my-folder,.dash-board{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
    border-radius: 3px;
    transition: .2s;
    gap: 5px;
    cursor: pointer;
    font-size: 15px;
}
.my-folder p , .dash-board p{
    font-size: 16px;
}
.my-folder:hover,.dash-board:hover{
    background-color: rgb(78, 78, 78);
}

.color{
    background-color: #394e7a;
}