.layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ebcf8;
}

.leftSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftSide .contentWrapper {
    width: 80%;
    max-width: 600px;
}

.leftSide .content {
    width: 600px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.leftSide .image {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.leftSide .image img {
    width: 800px;
    height: 500px;
}

.leftSide .content h1 {
    color: #0B0A0F;
    font-size: 3.2rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    text-align: left;
}

.leftSide .content p {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #3d4358;
    margin-bottom: 2rem;
    text-align: left;
}

.rightSide {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInContainer {
    width: 520px; 
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.signInContainer h1 {
    margin: 1rem;
    height: fit-content;
    text-align: left;
    font-size: 2rem;
}

.signInContainer p {
    font-size: 1rem;
    margin: 1rem;
    height: fit-content;
    text-align: left;
    color: #3d4358;
}

.signInContainer .error {
    font-size: 1rem;
    margin: 1rem;
    height: fit-content;
    color: red;
}

.signInContainer hr {
    width: 100%;
    height: fit-content;
    color: rgb(169, 169, 169);
}

.signInContainer .signUpParagraph {
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
    font-weight: 400;
    height: fit-content;
}

.signInContainer .signUpLink {
    font-size: 0.9rem;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
}

.signInContainer .signUpLink {
    color: #434cfb;
}

.signInForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    width: 450px;
    height: fit-content;
}

.signInForm label {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin: 0.3rem;
    color: #697182;
    height: fit-content;
}

.signInForm input {
    height: fit-content;
    width: 100%;
    border: 1px solid rgb(122, 119, 119);
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    margin: 0.3rem;
    color: black;
    background-color: white;
}

.signInForm input::placeholder {
    color: rgb(169, 169, 169);
}

.signInBtn {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    margin: .75rem;
    color: white;
    transition: box-shadow 0.5s ease;
    background-color: #1E52BB;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    cursor: pointer;
}