#mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpContainer {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    padding: 2%;
    color: black;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

#title {
    font-size: 2rem;
}

#titleDescription {
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem;
    margin-bottom: 1.5rem;
    color: #3d4358;
}

.inputField {
    width: 100%;
    color: black;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

.formError {
    color: red;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    text-align: center;
    font-weight: 500;
}

.inputField label {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin: 0.4rem 0.3rem;
    color: #697182;
}

.inputField input , .inputField select{
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid rgb(122, 119, 119);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    height: 40px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 7px;
}

#termAndConditionBox {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


input[type="checkbox"] {
    height: auto;
    width: 4%;
}

input::placeholder {
    font-size: .8rem;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#termAndConditionBox label {
    width: 94%;
    cursor: pointer;
    font-size: .8rem;
    text-align: left;
}

a {
    cursor: pointer;
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #434cfb;
}


#signInPage {
    color: black;
    font-weight: 400;
    font-size: .9rem;
}

.submitButton {
    width: 80%;
    height: 40px;
    font-size: 1rem;
    margin: .75rem;
    color: white;
    transition: box-shadow 0.5s ease;
    background-color: #1E52BB;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    cursor: pointer;
}