.tree-node {
    margin-left: 8px;
}

.tree-row {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 0;
    margin: 2px;
}

.tree-children {
    margin-left: 16px;
}

.tree-name {
    color: #555;
    font-size: 15px;
}

.tree-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.expand-icon {
    cursor: pointer;
}

.arrowIcon {
    width: 10px;
}