.treeStructure {
    font-size: 14px;
}

.treeChild {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
    cursor: pointer;
}

.treeChild:hover {
    background-color: #D4D4D4;
}

.emptyTree {
    width: 100%;
    font-size: 13px;
    padding: 24px;
    color: #555;
    text-align: center;
}

.treeLevel {
    padding-left: 14px;
}

.treeArrow {
    width: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.treeName {
    cursor: pointer;
    user-select: none;
}
