.main-update-file{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    bottom: 1px;
    right: 1px;
    background-color: rgba(0, 0, 0, 0.286);
}
.update-file-container{
    width: 35vw;
    height: 20vh;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.update-file-describtion{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.update-file-icon{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}
.update-file-img{
    width: 30px;
    height: 30px;
}
.update-file-txt{
    width: 90%;
    height: 40%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 17px;
    line-height: 1.8;
}
.update-file-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    justify-content: flex-end;
    gap: 20px;
}