.btn-upload{
    width: 200px;
    height: 40px;
    background-color: white;
    padding: 0px 15px;
    transition: .2s;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(58, 58, 58);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}
.btn-upload:hover{
    background-color: rgb(236, 235, 235);
}