.version-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 84vw;
    height: 89vh;
    padding: 30px;
    background-color: #ffffff;
    color: #333;
    overflow-y: auto;
    border-top: .5px solid rgb(219, 219, 219);
}

.version-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.version-summary {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
    font-size: 14px;
}

.version-summary span {
    font-weight: 600;
    margin-right: 5px;
    font-size: 16px;
    color: rgb(61, 61, 61);
}

.version-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.version-table thead {
    background-color: #f5f5f5;
}

.version-table th {
    text-align: center;
    padding: 15px;
    font-weight: 600;
    border-bottom: 2px solid #ddd;
}

.version-table td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}


.version-table tbody tr:hover {
    background-color: #f9f9f9;
}

.version-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #555;
    padding: 4px;
}

.close-btn:hover {
    color: #000;
}