*{
    padding: 0;
    margin: 0;
}
.version-main h1,h2,h4{
    color: #3c4655;
}
.version-main p{
    color: #A8B1BF;
}
.version-main{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 84vw;
    height: 89vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
}
.close-button{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.close-button button{
    background-color: white;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
}
.version-heading{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.version-heading-icon{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.version-head-icon{
    padding: 10px;
    background-color: #c3d9f596;
    color: #2563EB;
    border-radius: 10px;
}
.file-details{
    display: flex;
    align-items: center;
    gap: 10px;
}
.size-details{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
#str_size,#cmp_size{
    font-size: 12px;
    color: rgb(165, 165, 165);
}
.storage-size-view{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #EFF6FF;
    border-radius: 10px;
}
.size-details p{
    font-size: 15px;
    color: #666666;
}
.storage-size-view p{
    color: #6d6d6d;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
}
th{
    background-color: #F8FAFC;
    color: #64748B;
    padding: 20px 10px;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}
td{
    color: #64748B;
    padding: 25px 15px;
    border-bottom: 1px solid rgb(239, 239, 239);
}
tr{
    transition: .2s;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}
tr:hover{
    background-color: rgb(249, 249, 249);
}
.version-list{
    position: absolute;
    background-color: #E2F2E3;
    color: #237450;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    top: 24.7%;
    left: 16%;
}
